/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.welcomeBackText {
    color: #169E83;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.topNavBar {
    /* just bottom is rounded */
    border-radius: 0px 0px 50px 50px;
}

.forgotPasswordText {
    color: #169E83;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.logoImg {
    width: 80px;
    height: 80px;
}

/* FOR DATE PICKER */
/* Ensure the date picker dropdown has a high z-index */
.react-datepicker {
  z-index: 9999 !important; /* Bring it on top of other elements */
}

/* Make sure the calendar triangle is positioned upwards if it's showing */
.react-datepicker__triangle::before,
.react-datepicker__triangle::after {
  border: none !important;
  border-bottom-color: #169E83 !important; /* Triangle color */
}

/* Ensure the wrapper around the date picker has relative positioning */
.date-picker-wrapper {
  position: relative;
}
/* Selected date */
.react-datepicker__day--selected {
  background-color: #169E83 !important;
  color: white !important;
}

/* Hover effect for the selected date */
.react-datepicker__day--selected:hover {
  background-color: #169E83 !important;
  color: white !important;
}

/* Hover effect for all days */
.react-datepicker__day:hover {
  background-color: #169E83 !important;
  color: white !important;
}

/* Current day styling */
.react-datepicker__day--today {
  border-radius: 50%; /* Make it stand out more */
  background-color: #169E83 !important;
  color: white !important;
}