@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.welcomeBackText {
    color: #169E83;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.topNavBar {
    /* just bottom is rounded */
    border-radius: 0px 0px 50px 50px;
}

.forgotPasswordText {
    color: #169E83;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.logoImg {
    width: 80px;
    height: 80px;
}

/* FOR DATE PICKER */
.react-datepicker__header {
  background-color: #169E83 !important;
}

.react-datepicker__day-name {
  color: white !important;
}

.react-datepicker__current-month {
  color: white !important;
}

.react-datepicker__navigation--next {
  color: white !important;
}

.react-datepicker__triangle::before {
  border: none !important;
  border-top-color: #ffffff; 
}

.react-datepicker__triangle::after {
  border: none !important;
  border-top-color: #ffffff;
}